appsrv/logs/*
appsrv/conf/Catalina/*
appsrv/pre_build/*
!appsrv/pre_build/README.md
database/data/*
database/restore/*
!database/restore/README.md
database/backup/*
!database/backup/README.md
proxy/conf/vhosts/*/*
!proxy/conf/vhosts/allTomcat.conf
proxy/conf/vhosts_secure/*/*
!proxy/conf/vhosts_secure/allTomcat.conf
proxy/www/*
!proxy/www/admin/*
!proxy/www/index.html
authsrv/logs/*
authsrv/deliverable/idp-mae.tar.gz
authsrv/metadata_sp/last-activate.log
authsrv/export_metadata/*
!authsrv/export_metadata/README.md
